<h1><%= t :slogan %></h1>

<p>
  Hi <%= @user_hash[:name] %>,
</p>
<p>
  Welcome to the Sample App! Click on the link below to activate your account:
</p>

<%= link_to t(:activate),
  edit_account_activation_url(@user_hash[:activation_token],
  email: @user_hash[:email]), class: "btn btn-primary" %>
