<% provide :title, t(:edit_profile) %>
<% provide :button_text, t(:save_change) %>

<h1>
  <a href="http://gravatar.com/emails"
    title="<%= t :change_avatar %>" target="_blank">
    <%= gravatar_for @user, size: 40 %>
  </a>
  <%= t :update_your_profile %>
</h1>
<%= render "user_form" %>
