<div class="row">
  <aside class="col-md-3">
    <%= render "shared/user_info", user: current_user %>
  </aside>
  <div class="col-md-9">
    <div class="list-group">
      <%= render @users %>
      <%= will_paginate %>
    </div>
  </div>
</div>
