<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "activities" %></h3>
  </div>
  <% if activities.any? %>
    <div class="list-group">
      <%= render activities  %>
    </div>
    <div class="text-center">
      <%= will_paginate activities %>
    </div>
  <% end %>
</div>
