<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t :features %></h3>
  </div>
  <div class="list-group">
    <%= link_to t(:categories), categories_path, class: "list-group-item" %>
  </div>
</div>
