<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <% [:following, :followers].each do |relationship| %>
    <a class="btn btn-default" href="<%= user_relationships_path user, relationship %>">
      <strong class="<%= relationship %>" class="stat">
        <%= user.send(relationship).size %>
      </strong>
      <%= t relationship %>
    </a>
  <% end %>
</div>
