<div class="list-group-item">
  <div class="row">
    <div class="col-md-5">
      <%= word.answers.correct.first.content %>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <%= word.content %>
    </div>
  </div>
</div>

