<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t :word_list %></h3>
  </div>
  <% if @words.any? %>
    <div class="list-group">
      <%= render @words %>
    </div>
  <div class="text-center">
    <%= will_paginate %>
  </div>
<% end %>
</div>
