<div class="list-group-item">
  <div class="row">
    <div class="col-md-3">
      <b class="category-name">
        <%= category.name %>
      </b>
    </div>
    <div class="col-md-9">
      <p class="category-description">
        <%= category.description %>
      </p>
    </div>
    <div class="col-md-3">
      <%= link_to admin_category_path(category), method: :delete,
        class: "btn btn-danger btn-xs", data: {confirm: t(:you_sure)} do %>
        <span class="glyphicon glyphicon-remove"></span> <%= t :delete %>
      <% end %>
    </div>
  </div>
</div>
